<template>
  <div id="courseContainer">
    <progress-header-bar></progress-header-bar>

    <!-- <iframe :src="urlLearn" id="declick-client-learn" class="fullscreen-iframe2"></iframe> -->
    <div class="fullscreen-iframe2">
      <div id="instruction" v-html="content[0]"></div>
      <div id="exercice">
        <div id="themeEditor">
          <select v-model="themeStyle">
            <option>monokai</option>
            <option>dracula</option>
            <option>chrome</option>
            <option>github</option>
          </select>
        </div>

        <editor @init="editorInit" lang="javscript" :theme="themeStyle"></editor>
      </div>
    </div>
  </div>
</template>

<script>
import config from '@/assets/config/declick.js'
// import Channel from 'exports-loader?Channel!jschannel/src/jschannel.js'
import { mapState, mapActions } from 'vuex'
import Api from '@/api'
// import {EventBus} from '@/eventBus'

import ProgressHeaderBar from '@/components/learn/ProgressHeaderBar'

// window.Channel = Channel
// import pem from 'exports-loader?TaskProxyManager&Platform!pem-platform/task-xd-pr.js'
// var task = false
export default {
  data() {
    return {
      storeReady: false,
      componentReady: false,
      initialized: false,
      content: {},
      themeStyle: 'monokai',
    }
  },
  methods: {
    editorInit: function() {
      require('brace/ext/language_tools') //language extension prerequsite...
      require('brace/mode/html')
      require('brace/mode/javascript') //language
      require('brace/mode/less')
      require('brace/theme/dracula')
      require('brace/theme/chrome')
      require('brace/theme/monokai')
      require('brace/theme/github')
      require('brace/snippets/javascript') //snippet
    },
    async init() {
      if (this.initialized || !this.storeReady || !this.componentReady) {
        return
      }

      this.content = await Api.getExerciceResourceContent(
        this.$route.params.assessmentId,
        this.token,
      )

      console.log(this.content)
      // this.initialized = true

      if (this.$route.name === 'step') {
        this.selectAssessment({ id: parseInt(this.$route.params.assessmentId) })
      }
    },
    ...mapActions([
      'selectCourse',
      'selectAssessment',
      'selectNextAssessment',
      'registerCurrentAssessmentResult',
    ]),
  },
  computed: {
    urlLearn() {
      let prefix
      let suffix

      if (this.currentAssessment) {
        if (this.currentAssessment.url) {
          // return this.currentAssessment.url + '&token=' + this.token + '&channelId=declick'
          prefix = this.currentAssessment.url
          suffix = '&token='
        } else {
          const self = this
          // chapter
          self.$router.push({
            name: 'map',
            params: { id: self.$route.params.id },
          })
          // return config.clientUrl + 'learn.html#token=' + this.token + '&channelId=declick'
          prefix = config.clientUrl
          suffix = 'learn.html#token='
        }
      } else {
        // return config.clientUrl + 'learn.html#token=' + this.token + '&channelId=declick'
        prefix = config.clientUrl
        suffix = 'learn.html#token='
      }
      return prefix + suffix + this.token
    },
    ...mapState([
      'currentAssessment',
      'currentCourse',
      'currentCourseResults',
      'token',
    ]),
  },
  async mounted() {
    this.componentReady = true
    this.init()
  },
  watch: {
    currentAssessment() {
      this.init()
    },
    currentCourseResults: {
      handler: function(value) {
        if (value) {
          this.storeReady = true
          this.init()
        }
      },
      immediate: true,
    },
  },
  components: {
    ProgressHeaderBar,
    editor: require('vue2-ace-editor'),
  },
}
</script>
<style lang="css">
#courseContainer {
  position: absolute;
  top: 0;
  z-index: 500;
  width: 100%;
}
.fullscreen-iframe2 {
  height: calc(100vh - 60px);
  width: 100%;
  border: none;
  overflow: hidden;
  background: white;
}

/* old css */
@font-face {
  font-family: 'DejaVu';
  src: url('../../assets/fonts/DejaVuSans.ttf');
}

@font-face {
  font-family: 'DejaVu';
  font-weight: bold;
  src: url('../../assets/fonts/DejaVuSans-Bold.ttf');
}

/* CSS from learn.css */
body,
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #ffffff;
  /* overflow: hidden; */
}

#tlearnframe {
  height: 100%;
}

#tlearnframe-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#tlearnframe-left {
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  float: left;
  height: 100%;
  margin-right: 7px;
  position: relative;
}

#left-wrapper {
  position: relative;
  height: 100%;
}

.split-pane-divider {
  background: #ffffff url('../../assets/images/handle.png') no-repeat scroll 50%
    1px;
  height: 10px;
}

#tlearnframe-instruction {
  background-color: #edebed;
  color: #480a2a;
  bottom: 65%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100%;
  font-family: 'DejaVu', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}

#tlearnframe-instruction.text-mode {
  z-index: 3;
  bottom: 0;
}

#tlearnframe-instruction-scroller {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 15px 30px;
}

#tlearnframe-instructions h1 {
  font-family: 'DejaVu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 0px;
  text-transform: uppercase;
  /*color:#f6a71f;*/
}

#tlearnframe-instructions p {
  margin: 5px 0;
}

/*#tlearnframe-instruction .code,
#tlearnframe-instruction code {
    font-family:"DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#E42C20;
}*/

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

:not(pre) > code[class*='language-'] {
  padding: 0.15em 0.2em;
}

#tlearnframe-instruction .reponse {
  color: green;
}

#tlearnframe-solution {
  display: none;
}

#tlearnframe-navigation {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
}

#tlearnframe-right {
  box-sizing: border-box;
  padding: 10px 10px 10px 5px;
  margin-left: 50%;
  height: 100%;
  position: relative;
  width: auto;
}

#right-wrapper {
  position: relative;
  height: 100%;
}

#tlearnframe-canvas {
  position: absolute;
  height: 65%;
  width: 100%;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

#tcanvas_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

#tcanvas-outer {
  height: 100%;
  box-sizing: border-box;
  border: solid 1px #dcdcde;
  background-color: #ffffff;
}

#tcanvas {
  position: relative;
  overflow: hidden;
}

#tcanvas3d {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
}

.runtime-frame {
  display: none;
}

#tcanvas-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/loader4.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#tcanvas-loading-value {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #a7a7a7;
}

#tlearnframe-message {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 50px;
  padding: 10px;
  display: none;
  box-sizing: border-box;
  z-index: 2;
}

#tlearnframe-message.tlearnframe-error {
  background-color: #ef6e13;
  color: #ffffff;
}

#tlearnframe-message.tlearnframe-message {
  background-color: #6dbea9; /*#58422a;*/
  color: #ffffff;
}

/* IMG not found */

/* #tlearnframe-message-close {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 2px;
  background-image: url('@/images/clear_grey.png');
  cursor: pointer;
} */

#tlearnframe-separator {
  bottom: 65%;
}

#tlearnframe-bottom {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #ddd6dd;
}

#tlearnframe-buttons {
  height: 35px;
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
}

#tlearnframe-text-buttons {
  height: 35px;
  text-align: center;
  margin-top: 15px;
}

#tlearneditor {
  position: absolute;
  top: 0;
  bottom: 55px;
  width: 100%;
}

#tlearneditor-text {
  height: 100%;
}

#tlearneditor-text .ace_content {
}

.ttoolbar-button {
  font-size: 11pt;
  margin-left: 50px;
  margin-right: 50px;
  color: #5e5e5e;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: Comfortaa, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ttoolbar-button-execute {
}

.ttoolbar-button-execute {
  height: 35px;
  width: 35px;
  background-image: url('../../assets/images/run.png');
}

.ttoolbar-button-execute:hover {
  background-image: url('../../assets/images/run_on.png');
}
.ttoolbar-button-check {
  height: 35px;
  width: 35px;
  background-image: url('../../assets/images/check.png');
}

.ttoolbar-button-check:hover {
  background-image: url('../../assets/images/check_on.png');
}

.ttoolbar-button-clear,
.ttoolbar-button-erase {
  height: 35px;
  width: 35px;
  background-image: url('../../assets/images/reset.png');
}

.ttoolbar-button-clear:hover,
.ttoolbar-button-erase:hover {
  background-image: url('../../assets/images/reset_on.png');
}

.ttoolbar-button-clear:hover,
.ttoolbar-button-check:hover,
.ttoolbar-button-erase:hover {
  color: #f6a71f;
}

.ttoolbar-button-execute:active,
.ttoolbar-button-clear:active {
  color: #e47637;
}

.ttoolbar-button-clear {
}

#tlearnframe-credits {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #5e5e5e;
  font-size: 10px;
}

#tlearnframe-credits a {
  color: #5e5e5e;
  text-decoration: none;
}

#tlearnframe-credits a:hover {
  color: #e47637;
}

#tlearnframe-solution {
  position: absolute;
  background-color: black;
  visibility: hidden;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 3;
  color: #ffffff;
}

#tlearnframe-solution-content {
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f6a71f;
}

#tlearnframe-solution-content code {
  color: #f6a71f;
}

#tlearnframe-solution-content h1 {
  color: #f6a71f;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tlearnframe-text {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #edebed;
  z-index: 6;
  text-align: center;
}

#tlearnframe-text-input-frame {
  position: relative;
  width: 80%;
  height: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#tlearnframe-text-input {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro',
    monospace;
  font-size: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#tlearnframe-text-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  display: none;
  box-sizing: border-box;
  z-index: 3;
}

#tlearnframe-text-message.tlearnframe-error {
  background-color: #ef6e13;
  color: #ffffff;
}

#tlearnframe-text-message.tlearnframe-message {
  background-color: #6dbea9; /*#58422a;*/
  color: #ffffff;
}

/* IMG not found */

/* #tlearnframe-text-message-close {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-top: 2px;
  background-image: url(../../assets/images/clear_grey.png);
  cursor: pointer;
} */

#tlearnframe-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tlearnframe-loading img {
  height: 50px;
  width: auto;
}

#tlearnframe-loading p {
  font-family: 'Rubik', sans-serif;
  font-size: 14pt;
  color: #333;
  margin: 0;
  font-weight: bold;
}

#tlearnframe-success {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#tlearnframe-success-center {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  min-height: 200px;
  width: 50%;
  min-width: 200px;
  background-color: #5c3442;
}

#tlearnframe-success-image {
  margin: 10px 20px;
  float: left;
  width: 150px;
}

#tlearnframe-success-text {
  margin-left: 190px;
  margin-right: 50px;
  padding-top: 70px;
  color: #ffffff;
  font-family: 'DejaVu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#tlearnframe-success-actions {
  clear: both;
  margin-left: 190px;
  margin-top: 150px;
  text-align: right;
}

.ttoolbar-button-close {
  height: 23px;
  width: 23px;
  margin-top: 10px;
  margin-right: 20px;
  background-image: url('../../assets/images/close_success.png');
  float: right;
}

.ttoolbar-button-close:hover {
  background-image: url('../../assets/images/close_success_on.png');
}

.ttoolbar-button-next {
  height: 120px;
  width: 150px;
  background-image: url('../../assets/images/next_step.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  font-family: 'DejaVu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.ttoolbar-button-next:hover {
  background-image: url('../../assets/images/next_step_on.png');
}

#tlearnframe-slide {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  text-align: center;
}

#tlearnframe-slide-content {
  font-family: 'DejaVu Sans', Helvetica, Arial, sans-serif;
  text-align: justify;
  padding: 20px;
  color: #480a2a;
  font-size: 16px;
  line-height: 22px;
}

#tlearnframe-slide-ok {
  margin-left: auto;
  margin-right: auto;
  background-color: #480a2a;
  color: #cfd617;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 6px #642d46;
  width: 70px;
  height: 70px;
  display: block;
  outline: none;
  text-transform: uppercase;
}

#tlearnframe-slide-ok:hover {
  border-color: #0fac8d;
}

#tlearnframe-slide-content pre {
  background-color: #d7d7d7;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 500px;
  padding: 28px;
  font-size: 1em;
}

#tlearnframe-slide-content pre {
  font-size: 1em;
}
</style>