<template>
<div class="progress">
  <router-link to="/progress/resources">[Pages Resources]</router-link>
  <keep-alive>
    <router-view></router-view>
  </keep-alive>
</div>
</template>

<script>
var activePath = null

export default {
  beforeRouteEnter (to, from, next) {
    if (activePath && activePath !== to.path) {
      next(activePath)
    } else {
      next()
    }
  },
  beforeRouteLeave (to, from, next) {
    activePath = from.path
    next()
  }
}
</script>
