<template>
<div class="resources-page-anim">
    <div class="container">
        <h1>Ressources Animateur</h1>

        <hr>

        <h2>Liens utiles</h2>

        <p>
            - Formulaire à remplir à la fin de chaque séance : <a href="https://ateliers-declick.colombbus.org/">Déclarer un atelier Declick</a>.<br>
            - Lien pour le serveur Discord : <a href="https://discord.gg/tFemccq">Declick</a>.<br>
        </p>

        <hr>

        <h2>Version hors-ligne</h2>

        <p>
            Téléchargement : <a href="https://download.declick.net/">https://download.declick.net/</a><br>
            <br>
            Au cas où panne d'internet, une version de Declick avec parcours et éditeur est disponible.<br>
            Attention : Utilisez au maximum la version en ligne pour disposer de tous les derniers correctifs.
        </p>

        <hr>

        <h2>Comptes spéciaux</h2>

        <h3>Compte Animateur</h3>

        <p>
            Un compte animateur est disponible avec beaucoup d'exemples de programmes et de fonctions utiles.<br>
            Attention : Ne pas modifier le code, ce compte est en accès libre pour tous les animateurs.<br>
            <br>
            ID : animateur<br>
            Password : animateur<br>
        </p>

        <h3>Compte Arduino</h3>

        <p>
            ID: Arduino<br>
            Password : Arduino<br>   
        </p>

        <hr>
        
        <h2>Boite à Outils</h2>

        <h3>Réponses</h3>

        <p>
            <pre>[Completer les liens aux pdf du trello !!]</pre>
            Réponses aux parcours :<br><br>
            &emsp;- <a href="">Parcours Plateforme.</a><br>
            &emsp;- <a href="">Parcours Robotique.</a><br>
            &emsp;- <a href="">Parcours Bob & Max.</a><br>
            <br>

        </p>
        
        <h3>Outils d'animation</h3>

        <p><pre>[Ajoutez ici aussi tous les PDFs des sections "Animations des séances" et "Boites à outils"]</pre></p>

        <hr>

        <h2>Pour aller plus loin</h2>

        
        <p>
            <a href="http://compute-it.toxicode.fr/">Compute it</a>, un parcours où l'enfant doit suivre
            des instructions en prenant la place de l'ordinateur. Interressant, et peut aider les enfants
            à comprendre certains principe de base de la programmation. Peu servir de séance "joker" en cas de problèmes.<br>
            <br>

            <pre>[Lien vers le PDF a ajouter]</pre>
            <a href="">Guide - Commande de bases Bob et Max illustrée</a> : Guide réalisé pour les élèves allophones du collège Toulouse-Lautrec.
            En effet, la difficulté majeure rencontrée par les jeunes était l'orthographe des mots. Ainsi cette fiche récapitulative va non seulement servir d'aide mémoire, mais aussi de guide pour éviter les fautes.
            Cependant il regroupe la majorité des points vu dans le parcours Bob & Max, et peut donc servir à tous !<br>
            <br>

            <a href="https://www.commonsense.org/education/top-picks/game-making-tools-for-schools">Game-Making Tools for Schools</a>, liste en anglais, d'outils permettant d'aller plus loin pour les enfants dans le thème de la programmation
            et de la création numérique.

        </p>
    </div>
</div>
</template>

<style lang="scss">
    
    .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 60px;
        padding-left: 60px;
    }

    p {
        font-size: 14pt;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    .ytembed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    hr {
        border: 1px solid #c5cb16;
        border-style: solid;
    }
</style>