<template>
<div class="resources-page">
    <div class="container">
        
        <h1>Pages resources</h1> 

        <div class="card">
            <img id="img1" src="../../assets/images/explore-robot.png" alt="">
            <router-link to="/progress/resources/student" class="title">Resources Élève</router-link>
            <p>Des explications, des vidéos et autres, pour mieux comprendre Declick et les outils de création ou pour aller plus loin !</p>
        </div>

        <div class="card">
            <img id="img2" src="../../assets/images/discuss-robot.png" alt="">
            <router-link to="/progress/resources/anim" class="title">Resources Animateur</router-link>
            <p>Des guides et de divers conseils pour mener à bien vos ateliers et permettre aux élève à apprendre efficacement tout en passant un bon moment.</p>
        </div>

    </div>
</div>
</template>

<style lang="scss">

    .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 60px;
        padding-left: 60px;

        margin-bottom: 50px;
        margin-bottom: 50px;
    }

    .card {
        border: 2px solid #e7e6e6;
        border-style: solid;
        margin-bottom: 20px;

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1 {
        color: #480a2a;
    }

    .title {
        color: #337ab7;
        text-decoration: none;
        font-size: 18pt;
        font-weight: 700;
        font-family: Arial;
    }

    p {
        color: #531937;
    }

    img {
        float: left;
    }

    #img1 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 40px;
    }

    #img2 {
        padding-right: 20px;
    }

</style>