<template>
<div class="resources-page-student">
    <div class="container">
        <h1>Ressources élève</h1>

        <hr>

        <h2>Présentation</h2>

        <p>
            Declick.net est un site web permettant à des jeunes de 8 à 15 ans de découvrir la programmation
            et de pouvoir créer leurs propres jeux vidéo. La création d'un jeu te permettra d'apprendre la
            base de la programmation écrite, à écrire une histoire, créer des niveaux, dessiner des personnages,
            travailler en équipe et bien d'autres choses...
        </p>

        <h3>La programmation</h3>

        <p>
            La programmation est un grand mot qui peut faire peur, mais elle te permettra de dompter les ordinateurs
            et de créer de nombreuses choses. Ici, tu apprendras à faire des jeux et résoudre des problèmes, mais
            dans le monde, c'est un outil qui permet de créer des pages web, des applications, de contrôler des robots
            ou des machines, et de faire ce que tu veux sur un ordinateur !
        </p>

        <h3>Le JavaScript</h3>

        <p>
            Il existe de nombreux langages informatiques. Ici, tu utiliseras un langage très populaire : le JavaScript.
            Sur Declick, tu vas apprendre à utiliser une version simplifiée et en partie traduite en français. Tu ne l'as sûrement jamais
            remarqué, mais le JavaScript est partout sur le Web. En effet, tous les sites internet modernes l'utilisent ! Il permet
            beaucoup de choses dont créer des animations et rendre les pages plus "vivantes".
        </p>

        <hr>

        <h2>Le Wiki</h2>

        <p>
            Tu n'arrives pas à te rappeler de toutes les fonctions et tous les objets ? Tu as oublié ou tu ne sais pas
            comment utiliser la partie Créer ? C'est parfaitement normal. Un bon développeur ne connait pas tout par
            coeur. Mais il en comprend les bases et sait où chercher quand il a oublié quelque chose ! Pour trouver ce
            qu'il te faut, il existe une page très très pratique que tu dois utiliser : <a href="https://create.declick.net/wiki/accueil">le Wiki</a>.
        </p>

        <h3>Les différentes parties</h3>

        <p>
            &emsp;- <a href="https://create.declick.net/wiki/tutoriels_video_pour_bien_debuter"> Tutoriels vidéo pour bien débuter</a> :<br>Ce sont des vidéos
            qui t'expliques comment utiliser le site et surtout la partie "Créer".<br><br>
            &emsp;- <a href="https://create.declick.net/wiki/creer:accueil">L'environement</a> :<br>Ici aussi, ce sont des explications de la partie
            "Créer" mais cette fois-ci à l'écrit et avec bien sûr des images pour illustrer.<br><br>
            &emsp;- <a href="https://create.declick.net/wiki/objets:accueil">Les objets</a> :<br>Une description de tous les objets, et de toutes les actions
            (appelées "fonctions"), que tu peux utiliser dans ton jeu. Il y a beaucoup d'exemples très utiles. Même si tu penses que tu connais tout les objets
            dont tu as besoin pour construire ton jeu, c'est toujours une bonne idée de te balader dans cette partie. Tu apprendras toujours des choses et tu
            pourras même trouver des nouvelles idées. En programmation, la curiosité est une très grande qualité !<br><br>
            &emsp;- <a href="https://create.declick.net/wiki/exemples:accueil">Quelques exemples</a> :<br>Quelques exemples pratiques à utiliser dans vos jeux.
            <br><br>
            &emsp;- <a href="https://create.declick.net/wiki/exemples:tutoriel">Création d'un jeu de plateforme complet</a> :<br>Cette partie est un tutoriel
            pas à pas pour créer un jeu de plateforme fonctionnel. Il peut être utilisé pour faire le squelette de votre jeu. Une fois fini, c'est à vous de le
            modifier avec vos idées pour qu'il devienne votre jeu.
            <br><br>
        </p>

        <hr>

        <h2>Exemple de jeu de plateformes</h2>

        <p>
            Il existe de nombreux genres de jeux vidéo. Sur Déclick, les jeux crées sont des jeux de plateformes. En effet,
            c'est un genre pas trop compliqué, mais qui laisse la place pour créer une histoire et t'initier au game design.
            Voici quelques vidéos de gameplay de différents jeu de plateforme :
        </p>

        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hj_c7k7pNks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/HV0yJ2cae9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/JqQYDLcvkBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/ipjeX4uMIgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        
        <hr>

        <h2>Vidéos</h2>

        <p>
            Quelques vidéos intéressantes sur la création de jeu vidéo :
        </p>

        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/LgAQWasSAXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/7uHuWVEGG4o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe class="ytembed" width="560" height="315" src="https://www.youtube-nocookie.com/embed/-6Exmsg6iJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
</template>

<style lang="scss">
     
    .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 60px;
        padding-left: 60px;
    }

    p {
        font-size: 14pt;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    .ytembed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    hr {
        border: 1px solid #c5cb16;
        border-style: solid;
    }

</style>